extends ../layout

block content
    link(rel="stylesheet", href="/css/voca/menu.css")
    script(src="/js/voca/menu.js")
    div.menu
        div.center
            div.menu1
                img(src="/images/insert.png", alt="")
                img(src="/images/insert.png", alt="")
            div.menu2
                img(src="/images/insert.png", alt="")
                img(src="/images/insert.png", alt="")
        div.bar
            span.words ㅡ
                //- h1 ㅎㅇ
            div.list
        

        //- a.words(href="/voca/words")
    
