extends ../layout

block content
    link(rel="stylesheet", href="/css/voca/words.css")
    section.blanck
    div.bar            
    a.words(href="/voca/menu")
    section.voca 
        img.usericon(src="/images/usericon.png", alt="")
        section.namebox
            h3.user 기초영단어 모음
            p.author 작성자 : ㅇㅇㅇ
        section.rec 
            img.rec(src="/images/rec.png", alt="")
            p 1
    section.voca 
        img.usericon(src="/images/usericon.png", alt="")
        section.namebox
            h3.user 기초영단어 모음
            p.author 작성자 : ㅇㅇㅇ
        section.rec 
            img.rec(src="/images/rec.png", alt="")
            p 1
    section.voca 
        img.usericon(src="/images/usericon.png", alt="")
        section.namebox
            h3.user 기초영단어 모음
            p.author 작성자 : ㅇㅇㅇ
        section.rec 
            img.rec(src="/images/rec.png", alt="")
            p 1
    section.voca 
        img.usericon(src="/images/usericon.png", alt="")
        section.namebox
            h3.user 기초영단어 모음
            p.author 작성자 : ㅇㅇㅇ
        section.rec 
            img.rec(src="/images/rec.png", alt="")
            p 1
        