extends ../layout

block content 
    script(src="/js/commu/detail.js")
    link(rel="stylesheet", href="/css/commu/detail.css")
    div.box
        section.body 
            
            div.word
                each item in result
                    ul
                        li=item.w_word 
                        li=item.w_mean                 
                