extends ../layout

block content 
    link(rel="stylesheet", href="/css/commu/likevocas.css")
    script(src="/js/commu/likevocas.js")
    
    body
        
        div.back        
            div.mainList
                
                each item in row
                    
                    ul.voca(data-v_seq=item.v_seq) 
                        li.voca.list
                            if item.v_멤버.m_image
                                img.voca.item(src=`/uploads/${item.v_멤버.m_image}`, alt="" width="50px")
                            else 
                                img.voca.item(src="/images/bear.png", alt="프로필사진" width="50px")
                            
                            span.voca.item=item.v_mid
                            span.voca.item=item.v_name
                        