extends ../layout

block content
    link(rel="stylesheet", href="/css/commu/main.css")
    script(src="/js/commu/main.js")
    div.box
        button.vocas 단어장 공유
        button.free 
            img(src="/images/heart.png", alt="" width="20px")