extends ../layout

block content
    link(rel="stylesheet", href="/css/voca/voca.css")
    section.menu
        div.left
            div.menu 
                p 단어추가
            div.menu 
                p 커뮤니티
        div.right
            div.menu 
                p 퀴즈
            div.menu 
                p 설정
    div.tab
        span ㅡ