body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

div.input {
    background-color: #fefae0;
    width: 80%;
    height: 55%;
    border-radius: 50px;
}
input {
    width: 80%;
    padding: 12px;
    border-radius: 50px;
    border: none;
    margin: 3px 0;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input.image {
    display: none;
}

img.bear {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
div.usercheck {
    display: flex;
    width: 80%;
    button.idcheck {
        border: none;
        font-size: 0.8rem;
        border-radius: 50px;
        width: 20%;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

div.btn {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
input.join {
    width: 30%;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

div.error {
    font-size: 0.8rem;
    width: 75%;
    color: #d13c3c;
}
div.user {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 90%;
}
label.user {
    font-size: 0.8rem;
    text-align: left;
    /* border: 1px solid black; */
    flex: 1;
    /* margin-left: auto; */
    text-align: center;
}

input.user {
    flex: 3;
    margin-left: 10px;
}
