* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    height: 90%;
    font: 30px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background-color: #bbcd7e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    text-align: center;
}
header {
    /* border: 1px solid black; */
    width: 100%;
    margin: 20px 0 0 50px;
    p {
        color: black;
        font-weight: 900;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}
div.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}
p.back {
    text-align: left;
    width: 100%;
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}
