extends ../layout

block content
    link(rel="stylesheet", href="/css/voca/add.css")
    script(src="/js/voca/add.js")
    //- 수정할거: 체크도 원래체크했던걸로 보이게
    if voca
        a(href=`/voca/${voca.v_seq}/words`) 뒤로가기
    else
        a(href="/voca") 뒤로가기
    div.insert_voca
            img(src="/images/bear.png", alt="곰" width="200px")
            form(method="POST")
                section.form
                    section.name
                        input(type="text" placeholder="단어장 이름을 입력해주세요!" name="v_name" value= voca? voca.v_name : "")
                    section.public
                        div.p_false
                            p 나만보기
                            input.false(type="checkbox" name="v_public" checked="checked" value="false")
                        div.p_true 
                            p 공유하기
                            input.true(type="checkbox" name="v_public" value="true")
                if voca
                    button(type="submit") 저장
                else
                    button(type="submit") 단어장 생성
            //- a(href="/voca/add_words") 단어장추가화면보는용 
            

