extends ../layout


//- 단어이름, 뜻 not null 이니까 반드시 추가하는 문구뜨게 수정

block content
    link(rel="stylesheet", href="/css/voca/add_words.css")
    script(src="/js/voca/add_words.js")
    //- if word
    //-     a(href="") < 뒤로가기버튼만들기
    //- else 
    //-     a(href="") <
    div.word_inputbox
        img(src="/images/bear.png", alt="곰" width="200px")
        div.name_box
            if newvoca_name
                h3.name= newvoca_name
            if voca_name
                h3.name= voca_name
        div.add_words
            form.add_words(method="POST")
                p * 필수입력
                input.word(type="text" name="w_word" placeholder="영어단어" value= word? word.w_word : "")
                p * 필수입력
                input.mean(type="text" name="w_mean" placeholder="뜻" value= word? word.w_mean : "")
                input(type="text" name="w_pron" placeholder="발음" value= word? word.w_pron : "")
                input(type="text" name="w_memo" placeholder="메모" value= word? word.w_memo : "")
                div.btn_box
                    a(href="/voca")
                        button(type="button") 단어장 리스트로
                    if word 
                        button.add(type="submit") 저장
                    else    
                        button.add(type="submit") 단어추가