extends ../layout

block content
    link(rel="stylesheet", href="/css/voca/menu.css")
    div.menu
        div.center
            div.menu1
                img(src="/images/insert.png", alt="" width="150px" height="150px")
                img(src="/images/quiz2.png", alt="" width="160px" height="160px")
            div.menu2
                img(src="/images/share.png", alt="" width="150px" height="150px")
                img(src="/images/setting.png", alt="" width="150px" height="150px")
    div.bar            
        span.words ㅡ
        //- a.words(href="/voca/words")
    
