extends ../layout

block content
    link(rel="stylesheet", href="/css/quiz/start.css")
    script(src="/js/quiz/start.js")
    body 
        div.header
            img(src="/images/bear.png" width="100px")
            p.comment 
        section.body(data-vseq= WORD.w_vseq)
            div.word
                p.word
            div.res
                input.res(type="text" placeholder="Spelling 을 입력하세요")
                input(type="button" value="입력 완료")
            div.btn
                div.btn.correct
                    input.correct(type="button" value="정답확인")
                    p.correct
                div.btn.next
                    input.stop(type="button" value="나가기")
                    input.next(type="button" value="다음")
                