extends ../layout

block content
    link(rel="stylesheet", href="/css/quiz/start.css")
    script(src="/js/quiz/list.js")
    body 
        div.header
            img(src="/images/bear.png" width="100px")
            p 
        section.body
            div.word
                input.word(type="text" value="한국")
            div.res
                input.res(type="text" placeholder="Spelling 을 입력하세요")
                //- input(type="button" value="입력 완료")
            div.btn
                div.btn.correct
                    input.correct(type="button" value="정답확인")
                    p.correct korea
                div.btn.next
                    input.stop(type="button" value="⏸")
                    input.next(type="button" value="➪")
                