p.back {
  display: none;
}
a {
  width: 95%;
  font-size: 2.2rem;
  &:hover {
    opacity: 0.6;
  }
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bbcd7e;
}
div.back {
  height: 90%;
  display: flex;

  background-color: #fefae0;
  width: 70%;
  border-radius: 50px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
div.mainList {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 20px;
}
div.element {
  border-radius: 50px;
  margin: 10px;
  background-color: #614d48;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #bbcd7e;
  height: 60%;

  span.mid {
    width: 90%;
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0 auto 0 20px;
    padding-bottom: 5px;
    color: #fefae0;
    border-bottom: 4px dashed #fefae0;
  }
  div.input {
    width: 75%;

    margin: 0 auto;
    input {
      margin-top: 5px;
      padding: 10px;
      border: none;
      border-radius: 50px;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        background-color: #fefae0;
      }
    }
  }
}
div.id.item.a.top {
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
    text-align: left;
    margin-left: 10px;
    /* flex: 1; */
    background-color: #fefae0;
    color: black;
    border-radius: 10px;
    font-size: 1.5rem;
    height: 50%;
    width: 100%;
    /* position: relative;
    left: -5px; */
  }
}

div.element:hover {
  cursor: pointer;
}

h4 {
  font-weight: 500;
}
img.item.a {
  border-radius: 50px;
  margin-left: 2px;
  border: 4px solid #fefae0;
}

input.button {
  display: none;
}

/* if item.L_좋아요.length > 0
input.button(type="button").like
img(src="/images/heart.png", alt="" width="30px")
else
input.button(type="button").like
img(src="/images/nullheart.png", alt="" width="30px") */
img.item.a {
  border-radius: 50px;
}

div.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
  div.id.item.a.top {
    flex: 4;
  }
  div.item.a.input {
    flex: 1;
  }
  span.good {
    color: #fefae0;
  }
}

img.heart {
  margin: 22px 10px 0;
}
