body {
  height: 100%;
}
section.body {
  background-color: #e5eec7;

  height: 100%;
  border-radius: 15px;
}

div.box {
  width: 60%;
  height: 95%;
  border-radius: 50px;
  display: flex;

  flex-direction: column;

  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
div.word {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.body ul {
  border-radius: 50px;
  background-color: #614d48;
  color: #bbcd7e;
  width: 50%;
  margin: 10px;
  padding: 20px;

  list-style: none;
  text-align: center;

  li {
    margin: 10px;
    &:nth-of-type(1) {
      font-weight: 700;
    }
  }
}
