body {
  overflow-y: auto;
}
div.back {
  /* border: 3px solid pink;s */
  width: 100%;
}
a {
  /* border: 3px solid red; */
  margin-left: 20px;
  &:hover {
    opacity: 0.6;
  }
}
h3 {
  margin-right: 15px;
  color: #614d48;
  /* background-color: #fefae0; */
  border-radius: 15px;
  padding: 3px;
  margin: 0 5px;
}

div.scroll {
  background-color: white;
  border: 5px solid #614d48;
  border-radius: 15px;
  width: 90%;
  height: 100%;
  margin: auto;

  /* overflow: auto;
  overflow-x: hidden; */
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  section.center {
    margin: 0px auto;
    /* border: 2px solid blue; */
  }
}

div.name_box {
  margin-bottom: 10px;
  display: flex;
  /* border-bottom: 5px solid #614d48; */
  button {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: #614d48;
    border: 3px solid #614d48;
    color: white;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
      /* background-color: red; */
    }
  }
}
section.img_box {
  width: 80%;
  /* background-color: red; */
  margin-left: 50px;
  margin-bottom: -10px;
  margin-top: 5px;
}
img.sprout {
  width: 50px;
  /* height: 100px; */
  /* border: 1px solid violet; */
  margin-right: auto;
  margin-bottom: -10px;
}
div.word_box {
  display: flex;
  /* border: 3px solid blue; */
  border-radius: 15px;
  background-color: #fefae0;
  border: 3px solid #614d48;
  color: #614d48;
  margin: 10px auto;
  width: 90%;
  white-space: nowrap;
  p {
    /* width: 80%; */
    height: 2rem;
    /* border: 2px solid violet; */
    width: 100%;
    margin: 5px;
    margin-left: 10px;
  }
}
div.inform_box {
  display: flex;
  flex-direction: column;
  /* flex: 6; */
  /* border: 3px solid yellowgreen; */
  margin: 5px;
  margin-left: 10px;
  width: 100%;

  div.f {
    display: flex;
    /* border: 2px solid blue; */
    h6 {
      /* border: 2px solid yellow; */
      width: 90px;
      margin: auto;
      margin-left: 10px;
      border-right: 1px solid #614d48;
    }
  }
}
div.btn_box {
  /* border: 2px solid green; */
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  /* width: 10%; */
  /* margin: 10px; */

  button {
    margin: 3px;
    width: 50px;
    font-size: small;
    /* background-color: #bbcd7e; */
    /* background-color: #607575; */
    border: 2px solid #614d48;
    background-color: #614d48;
    border-radius: 15px;
    padding: 5px;
    color: white;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

div.null {
  margin: auto;
  margin-top: 15px;
  background-color: #fefae0;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  section.null {
    padding: 5px;
  }
  h4 {
    display: block;
    margin-top: 15px;
    /* border: 1px solid blue; */
  }
}

/* div.comment
            
form.input(method="POST")
    input.comment(type="text" name="c_comment")
    button.save(type="submit") 작성
    div.commentBox
each item in COMMENT
    p.id= item.c_유저.m_image
    p.comment= item.c_유저.m_nick
    h6= item.c_comment
    
    h6 */
div.comment {
  /* border: 5px solid red; */
  margin-top: 10px;
  width: 90%;
  height: 40%;
  overflow: scroll;
  background-color: #fefae0;
  border: 3px solid #614d48;
  color: #614d48;
  &::-webkit-scrollbar {
    display: none;
  }
}
div.commentBox {
  margin: 5px;
}
div.buttonBox {
  display: flex;
  /* border: 1px solid blue; */
  position: relative;
  top: -20px;
  justify-content: end;
  a.delete {
    padding: 5px;
    margin-right: 10px;
    &:hover {
      border-radius: 50px;
      opacity: 1;
      background-color: #bbcd7e;
    }
  }
  p.update {
    padding: 5px;
    &:hover {
      border-radius: 50px;
      background-color: #bbcd7e;
    }
  }
}

div.box {
  display: flex;
  /* width: 100%; */
  margin: auto;
  padding: 5px;
  /* border: 1px solid red; */

  p {
    /* border: 1px solid red; */
    /* position: relative; */
    top: 30px;
    left: 20px;
  }
}

form.input {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  input {
    /* border: 1px solid blue; */
    padding: 10px;
    margin: 10px auto;
    outline: none;
    width: 90%;
  }
  button {
    padding: 5px;
    width: 7%;
    margin: 0 auto;
    /* border: 1px solid red; */
    &:hover {
      cursor: pointer;
    }
  }
}
p.update:hover {
  cursor: pointer;
}

input.commentBox {
  /* border: 1px solid red; */
  width: 93%;

  padding: 5px;
  border: none;
  border-bottom: 1px solid #614d48;
  /* border: 1px solid red; */
  /* position: relative; */
  left: 15px;
  margin: 30px;
  outline: none;
  background-color: #fefae0;
  font-size: 2rem;
}

/* 수정! */
p.back {
  display: none;
}

img.u {
  width: 40px;
  height: 40px;
  border: 2px solid #fefae0;
  border-radius: 50%;
}
article.com_box {
  /* border: 1px solid violet; */
  display: flex;
  margin: 5px;
}
/* 댓글박스 */
div.comment {
  height: 80%;
  background-color: #614d48;
  color: #fefae0;
  border-radius: 15px;
}
/* 사진이랑 이름 유저정보 박스 */
div.box {
  /* border: 3px solid blue; */
  width: 140px;
  margin-right: auto;
  /* display: flex;
  flex-direction: column; */
}
form.update {
  /* border: 1px solid yellowgreen; */
  width: 90%;
  input.c_comment {
    width: 90%;
    height: 95%;
  }
}
/* 수정삭제버튼 */
div.buttonBox {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 50px;
  margin-left: auto;
  margin-top: -25px;
  color: #fefae0;
}
input.delete {
  margin-bottom: 7px;
  border: none;
  border-radius: 15px;
  /* padding: 3px; */
  /* background-color: #bbcd7e; */
  &:hover {
    cursor: pointer;
    background-color: #607575;
  }
}
input.btnupdate {
  border-radius: 15px;
  /* padding: 3px; */
  border: none;
  /* background-color: #bbcd7e; */
  &:hover {
    cursor: pointer;
    background-color: #607575;
  }
}
/* 댓글쓰는곳 */
div.inputBox {
  width: 90%;
  margin-bottom: -70px;
  input {
    margin: 5px;
    border-radius: 15px;
  }
}
form.input {
  width: 100%;
  /* border: 1px solid pink; */

  /* display: flex; */
}
/* input.comment{
  border: 1px solid blue;
} */
article.comment_box {
  display: flex;
}
/* 댓글보이는 인풋 */
input.c_comment {
  border: 3px solid #fefae0;
  border-radius: 15px;
}
input.comment {
  flex: 18;
}
input.save {
  flex: 1;
  &:hover {
    cursor: pointer;
  }
}
article.null_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.com {
  font-weight: bold;
  display: flex;
  /* padding: 5px;
  background-color: #fefae0;
  border: 2px solid #614d48;
  border-radius: 15px;
  width: 90%;
  height: 30px; */
  /* height: 10%; */
  width: 90%;
  margin-top: 10px;
  margin-bottom: -10px;
  p {
    font-size: small;
    padding: 5px;
    background-color: #fefae0;
    border: 2px solid #614d48;
    border-radius: 15px;
    width: 30%;
    height: 30px;
    text-align: center;
  }
}
img.bear {
  margin-top: -15px;
  width: 50px;
  height: 50px;
}
p.id {
  font-size: medium;
  /* border: 3px solid red; */
  margin: auto 0;
  margin-left: 5px;
}

div.com.b {
  margin-bottom: 3px;
  button {
    margin: 5px;
    background-color: #fefae0;
    color: #614d48;
    padding: 5px;
    border: 2px solid #614d48;
    border-radius: 15px;
    margin-top: -10px;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  button.view_word {
    margin-left: auto;
  }
}

div.null_word {
  background-color: #fefae0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img.null_word {
    width: 200px;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  p {
    color: #bbcd7e;
  }
}
