block content
    link(rel="stylesheet", href="/css/voca/menu2.css")
    link(rel="stylesheet", href="/css/tuto/commu.css")
    script(src="/js/voca/menu2.js")
    body
        section.m_box
            img.bear(src="/images/bear.png" width="170px")
            p.talk ◀︎
            p.message 
                |내가 만든 단어장을 공유할수 있어, 
                br 
                |다른 친구들의 단어장도 공부해봐!
            a.next(href="/tuto/setting") 다음 
        section.btn_box
            p.check ✔︎
            div.circle
            div.menu1
                img.add(src="/images/insert.png", alt="" width="150px" height="130px")
                img.quiz(src="/images/quiz2.png", alt="" width="180px" height="160px")
            div.menu2
                img.commu(src="/images/share.png", alt="" width="180px" height="150px")
                img.setting(src="/images/setting.png", alt="" width="150px" height="130px")
        div.bar
            span.words ㅡ
            section.margin
            

        
