block content
    link(rel="stylesheet", href="/css/voca/menu2.css")
    link(rel="stylesheet", href="/css/tuto/end.css")
    script(src="/js/voca/menu2.js")
    body
        div.block
            section.m_box
                img.bear(src="/images/bear.png" width="170px")
                p.talk ◀︎
                p.message 이제 너만의 단어장을 만들어봐 ^^!
            a.next(href="/voca") 튜토리얼 끝내기
            

        
