block content
    link(rel="stylesheet", href="/css/voca/menu2.css")
    link(rel="stylesheet", href="/css/tuto/list.css")
    script(src="/js/voca/menu2.js")
    body
        section.m_box
            img.bear(src="/images/bear.png" width="170px")
            p.message 
                |만든 단어장은 
                br
                |이 서랍을 열면 확인할수 있어!
            a.next(href="/tuto/end") 다음 
        section.btn_box
            div.menu1
                img.add(src="/images/insert.png", alt="" width="150px" height="130px")
                img.quiz(src="/images/quiz2.png", alt="" width="180px" height="160px")
            div.menu2
                img.commu(src="/images/share.png", alt="" width="180px" height="150px")
                img.setting(src="/images/setting.png", alt="" width="150px" height="130px")
        div.bar.bottom
            div.circle
                span.button ㅡ
                section.margin
            

        
