extends ../layout

block content 
    link(rel="stylesheet", href="/css/setting/main.css")
    body
        section.body
            ul 
                li 로그아웃
                li 개인정보수정
                
