extends ../layout

block content 
    link(rel="stylesheet", href="/css/setting/main.css")
    script(src="/js/setting/main.js")
    body
        section.body
            section.user
                img(src=`/uploads/${USER.m_image}`?`/uploads/${USER.m_image}`:"/image/bear.png"  width="100px")
                div.info
                    span.user #{USER.m_nick}
                input.update(data-id=USER.m_id)(type="button" value="프로필 수정")
            ul
                li.toggle 
                    p.off 비공개 계정 전환
                    label.switch
                        input.check(type="checkbox")
                        span.slider.round
                li 프로 멤버십
                li.logout 로그아웃
                
