section.m_box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed black;
    p.talk {
        position: absolute;
        color: #614d48;
        left: 20%;
    }
    p.message {
        color: white;
        padding: 1rem 2rem;
        background-color: #614d48;
        border-radius: 10px;
    }
    a.next {
        border: none;
        background-color: #fefae0;
        padding: 1rem 2rem;
        border-radius: 10px;
        margin-left: 20px;
        font-weight: 700;
        color: black;
    }
}

section.btn_box {
    display: flex;
    flex-direction: column;
    /* margin-top: 5rem; */
}
p.check {
    color: red;
    font-size: 3rem;
    border: 1px solid black;
    margin: 0;
    position: fixed;
    right: 65%;
}
img.add,
img.quiz {
    margin: 0 20px;
    border: 1px solid black;
}
