body {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bbcd7e;
}
div.back {
  /* border: 1px solid black; */
  width: 100%;
  a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
    &:hover {
      opacity: 0.6;
    }
  }
}
section.body {
  width: 80%;
  height: 95%;
  background-color: #fefae0;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  white-space: nowrap;
}
section.user {
  display: flex;
  align-items: center;
  margin: 30px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  img.profile {
    flex: 1;
  }
  div.info {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      font-weight: 900;
      font-size: 1.7rem;
    }
    p {
      font-size: 1.5rem;
      margin-left: 10px;
    }
  }
}

ul {
  width: 80%;
  height: 100%;
  padding-top: 0.5rem;
  margin: 0 40px;
  list-style: none;
}

li {
  width: 95%;
  padding: 10px 0;
  margin: 4px 0;
  font-size: 1.7rem;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  font-weight: 500;
  &:hover {
    border-bottom: 1px solid #614d48;
    cursor: pointer;
  }
  &:nth-of-type(1) {
    cursor: auto;
  }
}
span.user {
  margin-left: 15px;
}
input.update {
  padding: 0.7rem;
  border: none;
  font-weight: 500;
  background-color: #614d48;
  color: white;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

li.toggle {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: middle;
  margin-left: auto;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #bbcd7e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p {
  margin: 0px;
  display: inline-block;
}

input:checked + .slider {
  background-color: #bbcd7e;
}

img.profile {
  background-color: #614d48;
  padding: 4px;
  border-radius: 50%;
  margin-bottom: 10px;
}
li.pro {
  display: flex;

  input.pro {
    display: none;
  }
  label {
    margin-left: auto;
  }
  p.badge {
    background-color: gold;
    padding: 0.4rem 0.5rem;
    font-size: 0.7rem;
    border-radius: 10px;
    font-weight: 900;
  }
}

/* 팝업창 */
div.bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
div.pop {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fefae0;
  width: 50%;
  height: 50%;
  border-radius: 40px;
  color: white;
  top: 20%;
  left: 25%;
  span.close {
    color: black;
    font-size: 1rem;
    text-align: right;
    width: 90%;
    padding: 1rem;
    font-weight: 900;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
  div.content {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    p.top {
      margin: 0 0 1rem 0;
      padding: 0.5rem;
      font-size: 0.8rem;
      background-color: black;
      border-radius: 10px;
      font-weight: 900;
    }
    p.mid {
      font-size: 1.8rem;
      font-weight: 800;
      color: black;
      margin: 18px auto;
    }
  }

  div.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #af3434;
    width: 80%;
    height: 50%;
    font-size: 2.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 20px;
    text-align: center;
    p.dis {
      color: #eaeaea;
      font-size: 1.5rem;
      text-decoration: line-through;
    }
  }

  div.btn {
    flex: 1;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid yellow; */
    button {
      margin: auto 0 20px 0;
      justify-content: space-around;
      border: none;
      background-color: #bbcd7e;
      padding: 12px;
      border-radius: 50px;
      width: 80%;
      height: 65%;
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: 900;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
