body {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.body {
  width: 80%;
  height: 80%;
  background-color: #fefae0;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.header {
  display: flex;
  align-items: center;
  p {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 900;
  }
}

input {
  font-size: 1.5rem;
  font-weight: 900;
  width: 60%;
  padding: 30px;
  margin: 0 auto;
  border: none;
  background-color: #614d48;
  color: white;
  border-radius: 50px;
  &:nth-last-child(1) {
    margin-top: 10px;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
