extends ./layout

block content 
    link(rel="stylesheet", href="./css/login.css")
    script(src="./js/login.js")
    div.form
        form(method="POST") 
            div.box 
                h3 로그인
                div.input
                    input(type="text" placeholder="ID")
                    input(type="password" placeholder="PASSWORD")
                div.btn
                    input.join(type="button" value="회원가입")
                    input.login(type="button" value="로그인")

