extends ../layout

block content
    link(rel="stylesheet", href="/css/voca/menu.css")
    div.menu
        input(type="checkbox" id="navInput")
        div.center
            div.menu1
                img(src="/images/insert.png", alt="" width="130px" height="130px")
                img(src="/images/quiz2.png", alt="" width="160px" height="160px")
            div.menu2
                img(src="/images/share.png", alt="" width="150px" height="150px")
                img(src="/images/setting.png", alt="" width="130px" height="130px")
        label(class="openbtn" for="navInput")
            div(id="openbtn-top")
            div(id="openbtn-mid")
            div(id="openbtn-bot")
        nav(id="nav")
          a(href="#") Item 1
          a(href="#") Item 2
          a(href="#") Item 3
          a(href="#") Item 4
        //- a.words(href="/voca/words")
    
